<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SmartPark</title>
  <link rel="stylesheet" href="src/css/leaflet.css"/>
  <link rel="stylesheet" href="src/css/bootstrap.min.css"/>
  <style>
    html,
    body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
    }

    #map {
      width: 100%;
      height: 92%;
      background: #333;
    }
  </style>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="javascript:void(0)">SmartPark</a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navb">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/parkInfo">停車場資訊</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/reservation">預約車位</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/myInfo">我的車輛</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-link" href="./">我的位置</a></li>
          </div>
        </div>
      </nav>
  </header>
  <div id="map"></div>
  <script src="src/js/jquery.js"></script>
  <script src="/src/js/bootstrap.min.js"></script>
  <script src="src/js/leaflet.js"></script>
</body>
<script>
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(drawPositionMarker, errorHandler);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function errorHandler(err) {
  if (err.code == 1) {
      alert("請先打開或允許定位！");
  } else if (err.code == 2 || err.code == 3) {
      alert("請嘗試打開定位後或到訊號較強處時，再嘗試一次！");
  }
}

function drawPositionMarker(position) {
  userLocation = new Array(position.coords.latitude, position.coords.longitude);
  userPoint = L.marker(userLocation).addTo(map).bindTooltip("現在位置");
  console.log(userLocation);
  // setTimeout(getLocation, 5000);
}

function drawParkMarker() {
  
}

var map = L.map('map').locate({watch:true, setView:true, setZoom:17});
var userLocation, userPoint;
var latlng;

getLocation();
//var myVar = setTimeout(getLocation, 5000);
L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
  attribution: '<a href="https://www.openstreetmap.org/">OpenStreetMap</a> | <a href="https://noob.tw/openstreetmap/">Tutorial</a>',
  maxZoom: 17,
}).addTo(map);

</script>
</html>